<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MySQL_server" value="localhost" />
    <add key="MySQL_database" value="infinity_stat" />
    <add key="MySQL_login" value="stat" />
    <add key="MySQL_password" value="stat" />
    <add key="FB_database_INFDATA" value="46.48.122.22:D:\\INFDATA.DAT" />
    <add key="FB_database_INFINITYUSERS" value="46.48.122.22:D:\\INFINITYUSERS.DAT" />
    <add key="FB_login" value="SYSDBA" />
    <add key="FB_password" value="masterkey" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>